<html>
<body>

<div class="header">
    <strong><b>TOM the Tiger's List</b></strong>
</div>


<b>View by: <%= link_to "ALL", home_path %> | <%= link_to "CATEGORIES", categories_path %> </b>


<br>
<div class = "row">
<div class="column side">
  <table class="table">
    
    <thead class="column-head-blue">
    <th>Categories</th>
    </thead>
    
        <tbody>

        <% @category.each do |c| %>
          <tr>
            <td><%= link_to c.title, category_path(c) %></td>
            <td class="text-nowrap">
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
  </div>

  <div class="column middle">  
      <table class="table">
       
        <thead class="column-head-blue">
        <th>Ad Listings</th>
        <th>Posted</th>
        </thead>

        <tbody>
        
        <% @ad.each do |a| %>
          <% if a.status == "active" %>
            <tr>
              <td><%= link_to a.title, ad_path(a.category, a) %></td>
              <td> <%= a.created_at.strftime("%m/%d/%Y") %> </td>
              <td class="text-nowrap"></td>
            </tr>

          <% end %>
        <% end %>
      </body>
  </div>


  <div class="column side">
      <!-- <h2><b>Post an Ad and Register</b></h2>
      <pre></pre> -->
      <% if !current_user %>
        <p><%= link_to "Register Here", new_user_path, class: "basic-button" %></p>
      <% end %>
      <p><%= link_to "Post an Ad", new_ad_url(@category.find(1)), class: "basic-button" %></p>

  </div>
</div>
</div>

</body>
</html>

