<div class= "container">
<center><h1>Create a New Ad</h1></center>
    <%= bootstrap_form_with model: @ad, url: category_path(@category), 
    method: :post, local: true do |f| %>
        <div class= "row">
             </div class = "column">
             <%= f.file_field :images, multiple: true %>
                <p>(Max: 4)</p>
            </div>
        </div>
        <div class= "row">
            <div class= "column">
                <%= f.text_field :title%>
                <%= f.number_field(:price, :step => "0.01", :class => "input-small") %>
                <%= f.collection_select :category, 
                Category.order(:title), :id, :title, include_blank: true %>
                <%= f.text_area :description, :class => "input-xlarge" %>
                <%= f.submit %>
            </div>
            <div class= "column offset-md-3">
                <%= f.text_field :email %>
                <%= f.text_field :phone %>
                <%= f.text_field :city %>
                <%= f.text_field :state %>
                <%= f.text_field :zip %>
            </div>
        </div>
    <% end %>
<br>

<a href= "<%= category_url(@category)%>", style= "float: right;",
class= "btn btn-danger">Cancel</a>

</div>