<!DOCTYPE html>
<style>
    h1 {text-align: center;}
    p {text-align: left; font-size: 18px;}
</style>
<html>
    <body>
        <header>
            <h1> <%= @ad.title %> </h1>
        </header>

        <section>
        <div class= "row">
            <div class= "column">
                <% if @ad.images[0] != nil %>
                    <p><%= image_tag @ad.images[0], size: "450x400", class: "big-img" %></p>
                <% else %>
                    <p><%= image_tag "empty.png", size: "450x400", class: "big-img" %></p>
                <% end %>
            </div>
        </div>
        <div class= "row">
            <div class= "column">
                <% if @ad.images[1] != nil %>
                    <p><%= image_tag @ad.images[1], size: "150x100", class: "small-img"  %></p>
                <% else %>
                    <p><%= image_tag "empty.png", size: "150x100", class: "small-img"  %></p>
                <% end %>
            </div>
            <div class= "column">
                <% if @ad.images[2] != nil %>
                    <p><%= image_tag @ad.images[2], size: "150x100", class: "small-img" %></p>
                <% else %>
                    <p><%= image_tag "empty.png", size: "150x100", class: "small-img"  %></p>
                <% end %>
            </div>
            <div class= "column">
                <% if @ad.images[3] != nil %>
                    <p><%= image_tag @ad.images[3], size: "150x100", class: "small-img" %></p>
                <% else %>
                    <p><%= image_tag "empty.png", size: "150x100", class: "small-img"  %></p>
                <% end %>
            </div>
        </div>
        </section>

        <aside>
            <p>Button to Favorite Ad</p>
            <br>
            <p>Button to Purchase Ad</p>
        </aside>

    </body>
</html>





 