<!DOCTYPE html>
<style>
    h1 {text-align: center;}
    h3 {outline: #A0A0A0 dashed 2px;}
</style>
<html>
    <body>
        <header>
            <h1> <%= @ad.title %> </h1>
        </header>

        <section>
        <div class= "row">
            <div class= "column">
                <% if @ad.images[0] != nil %>
                    <p><%= image_tag @ad.images[0], size: "450x400", class: "big-img" %></p>
                <% else %>
                    <p><%= image_tag "empty.png", size: "450x400", class: "big-img" %></p>
                <% end %>
            </div>
        </div>
        <div class= "row">
            <div class= "column">
                <% if @ad.images[1] != nil %>
                    <p><%= image_tag @ad.images[1], size: "150x100", class: "small-img"  %></p>
                <% else %>
                    <p><%= image_tag "empty.png", size: "150x100", class: "small-img"  %></p>
                <% end %>
            </div>
            <div class= "column">
                <% if @ad.images[2] != nil %>
                    <p><%= image_tag @ad.images[2], size: "150x100", class: "small-img" %></p>
                <% else %>
                    <p><%= image_tag "empty.png", size: "150x100", class: "small-img"  %></p>
                <% end %>
            </div>
            <div class= "column">
                <% if @ad.images[3] != nil %>
                    <p><%= image_tag @ad.images[3], size: "150x100", class: "small-img" %></p>
                <% else %>
                    <p><%= image_tag "empty.png", size: "150x100", class: "small-img"  %></p>
                <% end %>
            </div>
        </div>
        </section>

        <aside>
            <p style= "text-align: left;">Button to Favorite Ad</p>
            <br>
            <p style= "text-align: left;">Button to Purchase Ad</p>
        </aside>

        <section>
        <h2>Details</h2>
            <div class= "row">
                <div class= "column">
                    <p class= "ad-text-container">
                       - Price: $<%= '%.2f' % @ad.price%>
                         <br>
                       - Contact: <%= @ad.email %>
                       <br>
                       - Location: <%= @ad.city %>, <%= @ad.state %>
                       <br>
                       - Date Added: <%= @ad.created_at.strftime("%m/%d/%Y") %>
                    </p>
                    <aside>
                        <a href= "<%= user_url(@ad.user) %>">
                            <h2 class= "basic-button"><b>Seller:</b> <%= @ad.user.first_name %> <%= @ad.user.last_name %></h2>
                        </a>
                    </aside>
                </div>
            </div>
        </section>

        <aside>
            <h2>Description</h2>
            <p class= "ad-description-container">
                <%= @ad.description %>
            </p>

        </aside>

    </body>
</html>





 