<center><h1> <%= @ad.title %> </h1></center> 
    <ul>
        <li>Description: <%= @ad.description%> </li>
        <li>Price: $<%= '%.2f' % @ad.price%> </li>
        <li>Loocation: <%= @ad.location%> </li>
        <li>Contact: <%= @ad.contact%> </li>
    </ul>
</p>

<span style="float:right;">
    <p>
        Seller: <b><%= @ad.user.first_name %> <%= @ad.user.last_name %></b>
    </p>
</span>
<p>
  <%= link_to "BUY THIS AD!", purchase_item_path(@category, @ad), class: "btn btn-secondary"%>
</p>
<%= link_to "Back", category_path(@category) %>


 