<!DOCTYPE html>
<style>
    h1 {text-align: center;}
    p {text-align: right;}
</style>
<html>
    <body>
        <header>
            <h1> <%= @ad.title %> </h1>
        </header>
        
        <div class= "row">
            <div class= "column">
                <p><%= image_tag @ad.images[0], size: "450x400", class: "big-img" %></p>
            </div>
        </div>
        <div class= "row">
            <div class= "column">
                <p><%= image_tag @ad.images[1], size: "150x100", class: "small-img"  %></p>
            </div>
            <div class= "column">
                <p><%= image_tag @ad.images[2], size: "150x100", class: "small-img" %></p>
            </div>
            <div class= "column">
                <p><%= image_tag @ad.images[3], size: "150x100", class: "small-img" %></p>
            </div>
        </div>

    </body>
</html>





 