<center><h1> <%= @ad.title %> </h1></center> 
    <ul>
        <li>Description: <%= @ad.description%> </li>
        <li>Price: <%= @ad.price%> </li>
        <li>Loocation: <%= @ad.location%> </li>
        <li>Contact: <%= @ad.contact%> </li>
    </ul>
</p>

<%= link_to "Back", category_path(@category) %>


 