<%= bootstrap_form_with model: @user, url: user_path(@user), method: :patch, local: true do |u| %>
    


    <div class = "column col-lg-8 position-relative" >
        <div class= "column-head-blue" ><h3><center>EDIT USER INFORMATION</center></h3></div>
            <div class="form-floating needs-validation">
                <%= u.file_field :image %>
                <input class="form-control" id="user_email" name="user[email]" placeholder="Email: (required)" type="string" value= '<%= current_user.email %>' required> 
                <input class="form-control" id="user_email" name="user[password]" placeholder="Password: (required)" type="string" value= '<%= current_user.password %>' required>
                <input class="form-control" id="user_first_name" name="user[first_name]" placeholder="First name: (required)" type="string"  value= '<%= current_user.first_name %>' required>
                <input class="form-control" id="user_last_name" name="user[last_name]" placeholder="Last name: (required)" type="string"  value= '<%= current_user.last_name %>' required>
                <input class="form-control" id="user_address1" name="user[address1]" placeholder="Address 1:" type="string"  value= '<%= current_user.address1 %>' >
                <input class="form-control" id="user_address2" name="user[address2]" placeholder="Address 2:" type="string" >
                <input class="form-control" id="user_address3" name="user[address3]" placeholder="Address 3:" type="string" >
                <input class="form-control" id="user_city" name="user[city]" placeholder="City:" type="string" value= '<%= current_user.city %>'>
                <input class="form-control" id="user_state" name="user[state]" placeholder="State/province:" type="string" value= '<%= current_user.state %>'>
                <input class="form-control" id="user_country" name="user[country]" placeholder="Country:" type="string" value= '<%= current_user.country %>'>
                <input class="form-control" id="user_zip" name="user[zip]" placeholder="Zip/postal code:" type="string" value= '<%= current_user.zip %>'>
                <input class="form-control" id="user_phone" name="user[phone]" placeholder="Phone:" type="string" value= '<%= current_user.phone %>'>
                <input class="form-control" id="user_bio" name="user[bio]" placeholder="Bio:" type="string" value= '<%= current_user.bio %>'>
                
                <br> 
            
            <%= u.submit nil, class: 'basic-button' %>  <aside><%= link_to "Delete User", user_path(@user), method: :delete, class: "danger-button" %></aside>
            <pre></pre>
            <input type="button" value="< Leave without saving" onclick="history.back()">     
        </div>
        <br>
        
    </div>
<% end %>


