<h1> Account Settings </h1>

<%= link_to "Edit Profile", edit_user_path(@user) , class: "btn btn-primary" %>

<%= link_to "Credit Card", credit_card_path(@user) , class: "btn btn-primary" %>

<%= link_to "Change Password", edit_user_registration_path, class: "btn btn-primary" %>


<pre></pre>
<table>

    <thead>
        <tr>
            <th> Account Information </th>
        <tr>
    </thead>

    <tbody>
        <tr>
            <td> <%= @user.first_name%> <%= @user.last_name %> </td>
        </tr>
        <tr>
            <td> Email: <%= @user.email %> </td>
        </tr>
        <tr>
            <td> Street Address 1: <%= @user.address1 %> </td>
        </tr>
        <tr>
            <td> Street Address 2: <%= @user.address2 %> </td>
        </tr>
        <tr>
            <td> Street Address 3: <%= @user.address3 %> </td>
        </tr>
        <tr>
            <td> City: <%= @user.city%> </td>
        </tr>
        <tr>
            <td> State: <%= @user.state%> </td>
        </tr>
        <tr>
            <td> Country: <%= @user.country %> </td>
        </tr>
        <tr>
            <td> ZIP Code: <%= @user.zip %></td>
        </tr>
        <tr>
            <td> Bio: <%= @user.bio%> </td>
        </tr>
        
    </tbody>
</table>
<pre>

</pre>
<form>
    <input type="button" value="< back to public profile" onclick="history.back()">
</form>