<nav>
<% if @user == current_user %>
            <td><%= link_to "Favorites", favorites_path() , class: "btn btn-primary" %></td>
            <td><%= link_to "My Posts", user_ads_path(@user), class: "btn btn-primary"%></td>
            <td><%= link_to "Settings", user_settings_path(@user), class: "btn btn-primary"%></td>
        <%end%>
</nav>


<h1 style="text-align:center;"> <%= @user.first_name%> <%= @user.last_name%> </h1>

<% if @user.image.attached? %>
                    <%= image_tag @user.image, size: "300x300", class: "rounded-circle d-block mx-left " %>
                <% else %>
                    <%= image_tag "avatar.png", size: "300x300", class: "rounded-circle d-block mx-left" %>
<% end %>


<pre>



</pre>

<table>
    <thead>
        <tr>
            <th> Bio: </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td><%= simple_format(@user.bio) %></td>
        </tr>
</table>

<hr>

<h2> Items from this seller </h2>
            <div class= "row">
                <div class= "column">
                    <% @ads.each do |ad| %>
                        <% if ad.status == "active" %>
                            <% if ad.images.attached? %>
                                <p class="single-ad">
                                    <%= image_tag ad.images[0], width: "250", height: "200" %>
                                    <br>
                                    <%= ad.title %>
                                    <br>
                                    <%= link_to "View", ad_path(ad.category, ad), class: "basic-button"%>
                                </p> 
                                
                            <% else %>
                                <p class="single-ad">
                                    <%= image_tag "no_image.jpg", width: "250", height: "200" %>
                                    <br>
                                    <%= ad.title %>
                                    <br>
                                    <%= link_to "View", ad_path(ad.category, ad), class: "basic-button"%>
                                </p>
                            <% end %>
                        <% end %>
                    <% end %>
                </div>
            </div>



