
<%# header pulls ad title and price from ad model %>

<h1><center><b>BUY THIS <%= @ad.title.upcase %> ... $<%='%.2f' % @ad.price%></b></center></h1> 

<%= bootstrap_form_with model: @purchase,  method: :post, url: purchase_item_path(@category, @ad), local: true do |f| %>

<div class = "row needs-validation" novalidate>
<div class = "column col-lg-5 position-relative">
<br>
  
  <!-- enter billing information, most fields will autofill from user info -->
  <div class= "column-head-blue" ><h3><center>BILLING INFORMATION</center></h3></div>
  
  <div class="form-floating needs-validation">
    <input class="form-control" id="purchase_bill_name" name="purchase[bill_name]" placeholder="Name" type="string"  value= '<%= current_user.first_name %> <%= current_user.last_name %>' required> 
    <input class="form-control" id="purchase_bill_company" name="purchase[bill_company]" placeholder="Company (optional)" type="string" >
    <input class="form-control" id="purchase_bill_address1" name="purchase[bill_address1]" placeholder="Address 1" type="string" value= '<%= current_user.address1 %>' required>
    <input class="form-control" id="purchase_bill_address2" name="purchase[bill_address2]" placeholder="Address 2 (optional)" type="string" >
    <input class="form-control" id="purchase_bill_address3" name="purchase[bill_address3]" placeholder="Address 3 (optional)" type="string" >
    <input class="form-control" id="purchase_bill_city" name="purchase[bill_city]" placeholder="City" type="string" value= <%= current_user.city %> required>
    <input class="form-control" id="purchase_bill_state" name="purchase[bill_state]" placeholder="State/Province" type="string" value= '<%= current_user.state %>' required>
    <input class="form-control" id="purchase_bill_country" name="purchase[bill_country]" placeholder="Country" type="string" value= '<%= current_user.country %>' required>
    <input class="form-control" id="purchase_bill_zip" name="purchase[bill_postal]" placeholder="Postal Code" type="string" value= '<%= current_user.zip %>' required>
    <input class="form-control" id="purchase_bill_phone" name="purchase[bill_phone]" placeholder="Phone" type="string" value= '<%= current_user.phone %>' required>
    <input class="form-control" id="purchase_bill_email" name="purchase[bill_email]" placeholder="Email" type="string" value= '<%= current_user.email %>' required>
    <br>
    <br>
  </div>
  
  
  <!-- enter billing information, most fields will autofill from stored user credit card info if card is not expired -->
 
  <div class= "column-head-blue" ><h3><center>CREDIT CARD INFORMATION</center></h3></div>

    <!-- if stored credit card is present but expired, display message and do not autofill -->
    <%if current_user.credit_cards != nil && current_user.credit_cards.exp_date < DateTime.now %>
      <p style="color:red"><b> Your saved credit card is expired. Please provide new information below. </b></p>
      <pre></pre>
    <% end %> 
    Credit card type: <select class="form-select" name="purchase[card_type]"id="purchase_card_type" type="string" required>
        <% if current_user.credit_cards != nil && current_user.credit_cards.exp_date > DateTime.now %>
          <option value=<%= current_user.credit_cards.card_type%>><%= current_user.credit_cards.card_type%></option> <!--Makes a duplicate for now-->
        <% end %>
          <option value="Visa">Visa</option>
          <option value="MasterCard">MasterCard</option>
          <option value="American Express">American Express</option>
        
      </select>

      <!-- autofill if credit card is present and not expired -->
      <% if current_user.credit_cards != nil && current_user.credit_cards.exp_date > DateTime.now %>
          
        <input class="form-control" id="purchase_card_number" name="purchase[card_number]" placeholder="Card number (16 digits)" type="integer" value= <%= current_user.credit_cards.number%> required>
        <input class="form-control" id="purchase_card_exp_mo" name="purchase[card_exp_date]" placeholder="Expiration date" type="date" value= <%= current_user.credit_cards.exp_date %> required>
        <input class="form-control" id="purchase_card_cvv" name="purchase[card_cvv]" placeholder="CVV" type="integer" value= <%= current_user.credit_cards.cvv %> required>
      
      <!-- if card is not present or is present and expired do not autofill -->
      <% else %>
         
        <input class="form-control" id="purchase_card_number" name="purchase[card_number]" placeholder="Card number (16 digits)" type="integer" required>
        <input class="form-control" id="purchase_card_exp_mo" name="purchase[card_exp_date]" placeholder="Expiration date" type="date" required>
        <input class="form-control" id="purchase_card_cvv" name="purchase[card_cvv]" placeholder="CVV" type="integer" required>
      <% end %>

</div>

<!-- enter shipping information, most fields will autofill from user info -->

<div class = "column offset-md-1 col-lg-5">
<br>
  <div class= "column-head-blue" ><h3><center>SHIPPING INFORMATION</center></h3></div>
  <div class="form-floating">
    <input class="form-control" id="purchase_ship_name" name="purchase[ship_name]" placeholder="Name" type="string" value= '<%= current_user.first_name %> <%= current_user.last_name %>' required> 
    <input class="form-control" id="purchase_ship_company" name="purchase[ship_company]" placeholder="Company (optional)" type="string">
    <input class="form-control" id="purchase_ship_address1" name="purchase[ship_address1]" placeholder="Address 1" type="string" value= '<%= current_user.address1 %>' required>
    <input class="form-control" id="purchase_ship_address2" name="purchase[ship_address2]" placeholder="Address 2 (optional)" type="string">
    <input class="form-control" id="purchase_ship_address3" name="purchase[ship_address3]" placeholder="Address 3 (optional)" type="string">
    <input class="form-control" id="purchase_ship_city" name="purchase[ship_city]" placeholder="City" type="string" value= '<%= current_user.city %>' required>
    <input class="form-control" id="purchase_ship_state" name="purchase[ship_state]" placeholder="State/Province" type="string" value= '<%= current_user.state %>' required>
    <input class="form-control" id="purchase_ship_country" name="purchase[ship_country]" placeholder="Country" type="string" value= '<%= current_user.country %>' required>
    <input class="form-control" id="purchase_ship_zip" name="purchase[ship_postal]" placeholder="Postal Code" type="string" value= '<%= current_user.zip %>' required>
    <input class="form-control" id="purchase_ship_phone" name="purchase[ship_phone]" placeholder="Phone" type="string" value= '<%= current_user.phone %>' required>
    <input class="form-control" id="purchase_ship_email" name="purchase[ship_email]" placeholder="Email" type="string" value= '<%= current_user.email %>' required>
    <br>
    <br>
  </div>

  <center>
  <%= f.submit "BUY NOW!", class: "buy-button lg"%>
  </center>
  </div>
 </div> 

<% end %>
<pre>

</pre>
<form>
    <input type="button" value="< Back" onclick="history.back()">
</form>


