<h1>BUY THIS <%= @ad.title.upcase %> ... $<%='%.2f' % @ad.price%> </h1>

<%= bootstrap_form_with model: @purchase, method: :patch, url: purchase_item_path(@category, @ad), local: true do |f| %>
<div class = "row">
<div class = "column">

  <h3>BILLING INFORMATION</h3>
  <%= f.text_field :bill_name %>
  <%= f.text_field :bill_company %>
  <%= f.text_field :bill_address1, value: current_user.address1 %>
  <%= f.text_field :bill_address2, value: current_user.address2 %>
  <%= f.text_field :bill_address3, value: current_user.address3 %>
  <%= f.text_field :bill_city, value: current_user.city %>
  <%= f.text_field :bill_state, value: current_user.state %>
  <%= f.text_field :bill_country, value: current_user.country %>
  <%= f.text_field :bill_postal, value: current_user.zip %>
  <%= f.text_field :bill_phone, value: current_user.phone %>
  <%= f.text_field :bill_email, value: current_user.email %>

  <h3>CREDIT CARD INFORMATION</h3>
   <%= f.number_field :card_number %>
   <%= f.number_field :card_exp_mo %>
   <%= f.number_field :card_exp_yr %>
   <%= f.number_field :card_cvv %>

</div>

<div class = "column offset-md-1">

 <h3> SHIPPING INFORMATION</h3>
  <%= f.text_field :ship_name %>
  <%= f.text_field :ship_company %>
  <%= f.text_field :ship_address1, value: current_user.address1 %>
  <%= f.text_field :ship_address2, value: current_user.address2 %>
  <%= f.text_field :ship_address3 , value: current_user.address3%>
  <%= f.text_field :ship_city, value: current_user.city %>
  <%= f.text_field :ship_state, value: current_user.state %>
  <%= f.text_field :ship_country, value: current_user.country %>
  <%= f.text_field :ship_postal, value: current_user.zip %>
  <%= f.text_field :ship_phone, value: current_user.phone %>
  <%= f.text_field :ship_email, value: current_user.email %>

  <%= f.submit %>
  </div>
 </div> 
<% end %>

