<style>
    a:link {
        color: white;
    }
    a:hover {
        color: blue;
        text-decoration: underline;
    }
</style>

<!DOCTYPE html>
<html>
<style>
    h1 {text-align: center;}
</style>
    <body>
        <header>
            <h1><b>Category: <%= @category.title %> </b></h1>
        </header>

        <% if @category.ads.count == 0 %>
            <pre>
            
            </pre>
            <div class = "empty">Nothing to see here... maybe <a href= "<%=  new_ad_path(@category)%>">list something</a></div>
            <pre>
            
            </pre>
        <% end %>  

        <div class= "row">
            <div class= "column">
                <% @category.ads.each do |ad| %>
                    <% if ad.status == "active" %>
                        <% if ad.images.attached? %>
                            <a href= "<%= ad_path(@category, ad) %>"><p class="ad-button">
                                <%= image_tag ad.images[0], width: "250", height: "200" %>
                                <br>
                                <%= ad.title %>
                            </p> </a>
                        <% else %>
                            <a href= "<%= ad_path(@category, ad) %>"><p class="ad-button">
                                <%= image_tag "no_image.jpg", width: "250", height: "200" %>
                                <br>
                                <%= ad.title %>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
        </div>
        <pre>
        
        </pre>
        <a href= "<%=  new_ad_path(@category)%>" class= "basic-button">Post an Ad</a>
        <pre></pre>
        <p><a href= "<%=  categories_path%>" class= "basic-button">< Categories</a></p>
 
    </body>

</html>
