<h1>Category: <%= @category.title%></h1>


<table class='table table-hover'>
    <thead class = 'thead thead-dark'>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Posted</th>
        </tr>
    </thead>

    <tbody>
         <% @ads.each do |ad|%>
            <% if ad.status == "active" %>
                <tr>
                    <td> <%= link_to ad.title, ad_path(@category, ad) %> </td>
                    <td> <%= ad.description %> </td>
                    <td> <%= ad.created_at.strftime("%m/%d/%Y") %> </td>
                </tr>
            <% end %>
        <% end %>
    </tbody>
</table>


<%= link_to "Post an Ad", new_ad_path(@category), class: 'btn btn-primary', float: 'right' %>

